## **01_data_clean**

### Objectives

* Fetch data from Kaggle and save as raw data
* Clean the data

### Inputs

* https://www.kaggle.com/datasets/rabieelkharoua/predict-pet-adoption-status-dataset/data
* https://doi.org/10.34740/kaggle/ds/5242440
* Save as data_raw.csv

### Outputs

* Save cleaned data as data_clean.csv

### Additional Comments

*

In [5]:
# import required libraries
import os
import pandas as pd
import numpy as np

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [ ]:
# get the current working directory
current_dir = os.getcwd()
current_dir

'c:\\Users\\beth_\\Documents\\vscode-projects\\Animal-Adoption-Capstone\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\beth_\\Documents\\vscode-projects\\Animal-Adoption-Capstone'

# Saving the data to data_raw.csv

In [ ]:
# load the raw data
# use of Copilot to access the correct file path
df = pd.read_csv(os.path.join(current_dir, 'data', 'data_raw.csv'))
df.head()

,PetID,PetType,Breed,AgeMonths,Color,Size,WeightKg,Vaccinated,HealthCondition,TimeInShelterDays,AdoptionFee,PreviousOwner,AdoptionLikelihood
0,500,Bird,Parakeet,131,Orange,Large,5.039768,1,0,27,140,0,0
1,501,Rabbit,Rabbit,73,White,Large,16.086727,0,0,8,235,0,0
2,502,Dog,Golden Retriever,136,Orange,Medium,2.076286,0,0,85,385,0,0
3,503,Bird,Parakeet,97,White,Small,3.339423,0,0,61,217,1,0
4,504,Rabbit,Rabbit,123,Gray,Large,20.498100,0,0,28,14,1,0

# Data exploration and cleaning

- missing values
- duplicates
- outliers
- convert data types
- data ethics

- save the cleaned data to clean_data file

Section 2 content

# Conclusions and next steps

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.