# **06_hypothesis_3_and_4.ipynb**

### Objectives

* Testing hypotheses 3 and 4

H3: Larger animals are less likely to get adopted

H4: Some types of animals are more popular than others

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pingouin as pg

In [2]:
# load the cleaned data in to a dataframe
df = pd.read_csv('../data/data_clean.csv')
df.head()

,PetType,Breed,AgeMonths,Colour,Size,WeightKg,Vaccinated,HealthCondition,TimeInShelterDays,AdoptionFee,PreviousOwner,AdoptionLikelihood,AgeInYears
0,Bird,Parakeet,131,Orange,Large,5.039768,1,0,27,140,0,0,10.916667
1,Rabbit,Rabbit,73,White,Large,16.086727,0,0,8,235,0,0,6.083333
2,Dog,Golden Retriever,136,Orange,Medium,2.076286,0,0,85,385,0,0,11.333333
3,Bird,Parakeet,97,White,Small,3.339423,0,0,61,217,1,0,8.083333
4,Rabbit,Rabbit,123,Gray,Large,20.498100,0,0,28,14,1,0,10.250000

As we have seen from the machine learning model (please refer to notebook 05) the size and type of animal can have an effect on the likelihood of adoption. In this notebook we will explore the relationships between size and adoption and type of pet and adoption.

In [3]:
# declare categorical types where they are object
# this will help with memory usage and clarity
category_cols = ["PetType", "Breed", "Colour","Size"]
for cat in category_cols:
    df[cat] = df[cat].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2007 entries, 0 to 2006
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PetType             2007 non-null   category
 1   Breed               2007 non-null   category
 2   AgeMonths           2007 non-null   int64
 3   Colour              2007 non-null   category
 4   Size                2007 non-null   category
 5   WeightKg            2007 non-null   float64
 6   Vaccinated          2007 non-null   int64
 7   HealthCondition     2007 non-null   int64
 8   TimeInShelterDays   2007 non-null   int64
 9   AdoptionFee         2007 non-null   int64
 10  PreviousOwner       2007 non-null   int64
 11  AdoptionLikelihood  2007 non-null   int64
 12  AgeInYears          2007 non-null   float64
dtypes: category(4), float64(2), int64(7)
memory usage: 150.0 KB

In [ ]:
# check unique values in the pet type column
df['PetType'].unique()

['Bird', 'Rabbit', 'Dog', 'Cat']
Categories (4, object): ['Bird', 'Cat', 'Dog', 'Rabbit']

In [5]:
# check unique values in the size column
df['Size'].unique()

['Large', 'Medium', 'Small']
Categories (3, object): ['Large', 'Medium', 'Small']