# **machine_learning.ipynb**

### Objectives

* train a machine learning model to predict whether an animal is likely to be adopted
* use the sci-kit learn python library

In [17]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
# import machine learning libraries
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

The machine learning model we will use is a **Classification** model because the target variable, the adoption likelihood, is binary: either likely or not likely. 

The target is available, therefore the model is **Supervised**.

In [19]:
# load the cleaned data in to a dataframe
df = pd.read_csv('../data/data_clean.csv')
df.head()

,PetType,Breed,AgeMonths,Colour,Size,WeightKg,Vaccinated,HealthCondition,TimeInShelterDays,AdoptionFee,PreviousOwner,AdoptionLikelihood,AgeInYears
0,Bird,Parakeet,131,Orange,Large,5.039768,1,0,27,140,0,0,10.916667
1,Rabbit,Rabbit,73,White,Large,16.086727,0,0,8,235,0,0,6.083333
2,Dog,Golden Retriever,136,Orange,Medium,2.076286,0,0,85,385,0,0,11.333333
3,Bird,Parakeet,97,White,Small,3.339423,0,0,61,217,1,0,8.083333
4,Rabbit,Rabbit,123,Gray,Large,20.498100,0,0,28,14,1,0,10.250000

We need to drop the adoption fee column as it not useful, please see notebook 02 for the explanation.

In [25]:
# drop the Adoption Fee column as it is not needed for prediction
df = df.drop(['AdoptionFee'], axis=1)

In [24]:
# standardize the feature variables
scaler = StandardScaler()

In [20]:
# split the data into training and testing sets
X_train, X_test,y_train, y_test = train_test_split(
                                    df.drop(['AdoptionLikelihood'],axis=1),
                                    df['AdoptionLikelihood'],
                                    test_size=0.2,
                                    random_state=101
                                    )

print("* Train set:", X_train.shape, y_train.shape, "\n* Test set:",  X_test.shape, y_test.shape)

* Train set: (1605, 12) (1605,)
* Test set: (402, 12) (402,)